//UTILIDADES

.bg_whitesmoke {
    background-color: whitesmoke;
}

.bg-grey {
    background-color: map-get($map:$colores, $key:'gris');
}

.bg-main {
    background-color: map-get($map:$colores, $key:'azul');
}

.custom_gap {
        gap: 2rem;
}

// BOTONES
.boton {
    background-color: map-get($map:$colores, $key:'azul');
    color: whitesmoke;
    border-radius: .4rem;
    border: none;
    transition: .5s;
    &:hover {
        background-color: map-get($map:$colores, $key:'amarillo');
        color: black;
        font-size: 1.1rem;
        font-weight: bold;
    }
}

.boton_secundario {
    background-color: map-get($map:$colores, $key:'gris');
    color: whitesmoke;
    border-radius: .4rem;
    border: none;
    transition: .5s;
    &:hover {
        background-color: black;
        font-size: 1.1rem;
        font-weight: bold;  
    }
}
