/* INDEX */

.carousel-inner img {
    width: 100px;
    height: 100px;
}

/* CURSOS */

.cursos img {
    width: 150px;
    height: 150px;
}

/* NOSOTROS */

.nosotros img {
    max-width: 500px;
    height: auto;
}


.img_contacto {
    max-width: 500px;
    height: auto;
}
