<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Blockchain - Academia Blockchain</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>

    <header class="hero_image">
        <nav class="navbar navbar-expand-lg navbar-dark navbar_opacity">
            <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="/img/Logo_Completo-removebg-preview.png" height="90" alt="logo_img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link navegador_link fw-bold" aria-current="page" href="cursos.html">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navegador_link fw-bold" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navegador_link fw-bold" href="nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navegador_link fw-bold" href="contacto.html">Contacto</a>
                </li>
                </ul>
            </div>
            </div>
        </nav> <!-- ENDS NAVIGATION -->
    
        <div class="px-4 text-center hero_padding">
            <h1 class="display-4 fw-bold mt-5 mb-5">APRENDE. CREA. CRECE.</h1>
            <div class="col-lg-6 mx-auto">
            <h2 class="lead mt-4 mb-5">Aprende todo sobre la tecnología que esta revolucionando al mundo.</h2>
            </div>
        </div>
    </header> <!-- ENDS HEADER -->
    
    <main>
        <h3 class="display-5 fw-bold text-center pt-5 mb-3" id="blog">Blog</h3>
        <article class="container my-5">
            <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                <div class="col-md-5 px-0">
                    <h1 class="display-4 fst-italic">Nuevos avances en blockchain</h1>
                        <p class="lead my-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <p class="lead mb-0"><a href="#" class="text-white fw-bold">Seguir leyendo</a></p>
                </div>
            </div>
        </article>

        <div class="row mb-2 justify-content-sm-center w-100">
            <div class="col-md-5">
                <article class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-sucess">Lectura</strong>
                        <h3 class="mb-0">Un informe sobre algo</h3>
                        <div class="mb-1 text-muted">27 mayo</div>
                        <p class="card-text mb-auto">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        <a href="#" class="stretched-link">Seguir leyendo</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="../img/blog1.webp" width="200" height="auto" alt="noticia_img">
                    </div>
                </article>
            </div>
            <div class="col-md-5">
                <article class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Noticia</strong>
                        <h3 class="mb-0">Titulo de la noticia</h3>
                        <div class="mb-1 text-muted">4 jul</div>
                            <p class="mb-auto">Lorem ipsum alor sit amet consectetur elit.</p>
                            <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="../img/blog2.gif" width="200" height="auto" alt="noticia_img">
                    </div>
                </article>
            </div>
        </div>

        <div class="row mb-2 justify-content-sm-center w-100">
            <div class="col-md-5">
                <article class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Noticias</strong>
                        <h3 class="mb-0">Titulo Noticia</h3>
                        <div class="mb-1 text-muted">12 jun</div>
                        <p class="card-text mb-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="../img/blog3.jpg" width="200" height="auto" alt="noticia_img">
                    </div>
                </article>
            </div>
            <div class="col-md-5">
                <article class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Opinion</strong>
                        <h3 class="mb-0">Titulo del post</h3>
                        <div class="mb-1 text-muted">15 may</div>
                            <p class="mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus maiores.</p>
                            <a href="#" class="stretched-link">Seguir leyendo</a>
                        </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="../img/blog4.jpg" width="200" height="auto" alt="noticia_img">
                    </div>
                </article>
            </div>
        </div>
    </main>

    <footer class="container-fluid bg-dark py-3">
        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between">
            <div>
                <a href="../index.html">
                    <img src="../img/Logo_Completo-removebg-preview.png" alt="Logo Learn Blockchain - Aprende. Crea. Crece." height="90">
                </a>
            </div>

            <ul class="d-flex flex-column flex-sm-row align-items-center custom_gap mt-5">
                <li>
                    <a href="http://facebook.com" target="_blank">
                        <img src="../img/facebook_icon.svg" alt="facebook_icon" height="40" width="40">
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com" target="blank_">
                        <img src="../img/twitter_icon.svg" alt="twitter_icon" height="40" width="40">
                    </a>
                </li>
                <li>
                    <a href="http://instagram.com" target="blank_">
                        <img src="../img/instagram_icon.svg" alt="instagram_icon" height="40" width="40">
                    </a>
                </li>
            </ul>

            <div>
                <form>
                <h5 class="py-1" style="color:white">Subscribete a nuestro newsletter</h5>
                <div class="d-flex flex-column flex-lg-row">
                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1" type="text" placeholder="Email">
                    <button type="button" class="boton py-2 px-4">Suscribirse</button>
                </div>
                </form>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>