<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Blockchain - Academia Blockchain</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>

    <header class="hero_image">
        <nav class="navbar navbar-expand-lg navbar-dark navbar_opacity">
            <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="/img/Logo_Completo-removebg-preview.png" height="90" alt="logo_img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link navegador_link fw-bold" aria-current="page" href="cursos.html">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navegador_link fw-bold" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navegador_link fw-bold" href="nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navegador_link fw-bold" href="contacto.html">Contacto</a>
                </li>
                </ul>
            </div>
            </div>
        </nav> <!-- ENDS NAVIGATION -->
    
        <div class="px-4 text-center hero_padding">
            <h1 class="display-4 fw-bold mt-5 mb-5">APRENDE. CREA. CRECE.</h1>
            <div class="col-lg-6 mx-auto">
            <h2 class="lead mt-4 mb-5">Aprende todo sobre la tecnología que esta revolucionando al mundo.</h2>
            </div>
        </div>
    </header> <!-- ENDS HEADER -->
    
    <main>

            <h3 class="display-5 fw-bold pt-4 pt-2 pb-2 text-center" id="contacto">Contactanos</h3>
            <div class="container-fluid w-100 d-flex flex-column flex-lg-row align-items-center justify-content-center gap-3 col-lg-10 my-2 py-5 mx-0">

                <img src="../img/contact_img.jpg" alt="contacto_imagen" class="img_contacto img-fluid d-none d-sm-block">
                <img class="img-fluid d-sm-none" src="../img/contact_img_mobile.jpg" alt="imagen_contacto_mobile">

                <form class="d-flex flex-column gap-1" action="envio.php">
                                
                    <legend>Informacion Personal</legend>
                    <label for="name">Nombre</label>
                    <input type="text" id="name">
                    <label for="surname">Apellido</label>
                    <input type="text" id="surname">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="ejemplo@email.com">
                
                
                    <legend>Informacion de Pago</legend>
                    <div class="d-flex gap-1"> 
                        <label for="transferencia">Transferencia Bancaria</label>
                        <input type="radio" id="transferencia" value="" name="info-pago">
                    </div>

                    <div class="d-flex gap-1">
                        <label for="tarjeta-credito">Tarjeta de Credito</label>
                        <input type="radio" id="tarjeta-credito" value="" name="info-pago">
                    </div>

                    <div class="d-flex gap-1">
                        <label for="crypto">Criptomonedas</label>
                        <input type="radio" id="crypto" value="" name="info-pago">
                    </div>                
                
                    <legend>Nivel</legend>
                    <select name="" id="pais">Nivel</legend>  
                        <option selected="selected" value="default" disabled>Nivel</option>              
                        <option value="principiante">Principiante</option>
                        <option value="intermedio">Intermedio</option>
                        <option value="avanzado">Avanzado</option>
                    </select>
                
                
                    <label for="mensaje">Dejanos tu mensaje</label>
                    <textarea name="" id="mensaje" cols="30" rows="7"></textarea>
                    <input class="boton_secundario" type="reset" value="Cancelar">
                    <input class="boton" type="button" value="Enviar">
                </form>
            </div>   

            </div>

    </main>

    <footer class="container-fluid bg-dark py-3">
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between">
    <div>
        <a href="../index.html">
            <img src="../img/Logo_Completo-removebg-preview.png" alt="Logo Learn Blockchain - Aprende. Crea. Crece." height="90">
        </a>
    </div>

    <ul class="d-flex flex-column flex-sm-row align-items-center custom_gap mt-5">
        <li>
            <a href="http://facebook.com" target="_blank">
                <img src="../img/facebook_icon.svg" alt="facebook_icon" height="40" width="40">
            </a>
        </li>
        <li>
            <a href="http://twitter.com" target="blank_">
                <img src="../img/twitter_icon.svg" alt="twitter_icon" height="40" width="40">
            </a>
        </li>
        <li>
            <a href="http://instagram.com" target="blank_">
                <img src="../img/instagram_icon.svg" alt="instagram_icon" height="40" width="40">
            </a>
        </li>
    </ul>

    <div>
        <form>
        <h5 class="py-1" style="color:white">Subscribete a nuestro newsletter</h5>
        <div class="d-flex flex-column flex-lg-row">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" placeholder="Email">
            <button type="button" class="boton py-2 px-4">Suscribirse</button>
        </div>
        </form>
    </div>

</div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>