<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Blockchain - Academia Blockchain</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header class="hero_image">
        <nav class="navbar navbar-expand-lg navbar-dark navbar_opacity">
            <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="/img/Logo_Completo-removebg-preview.png" height="90" alt="logo_img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link navegador_link fw-bold" aria-current="page" href="cursos.html">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navegador_link fw-bold" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navegador_link fw-bold" href="nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navegador_link fw-bold" href="contacto.html">Contacto</a>
                </li>
                </ul>
            </div>
            </div>
        </nav> <!-- ENDS NAVIGATION -->
    
        <div class="px-4 text-center hero_padding">
            <h1 class="display-4 fw-bold mt-5 mb-5">APRENDE. CREA. CRECE.</h1>
            <div class="col-lg-6 mx-auto">
            <h2 class="lead mt-4 mb-5">Aprende todo sobre la tecnología que esta revolucionando al mundo.</h2>
            </div>
        </div>
    </header> <!-- ENDS HEADER -->
    
    <main class="cursos">
        <div class="container-fluid py-5">
            <h3 class="display-5 fw-bold text-center mb-3" id="cursos">Cursos</h3>
            <div class="row mb-2 justify-content-sm-center w-100">
                <div class="col-md-5">
                    <article class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg_whitesmoke">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Fundamentos</h3>
                            <div class="mb-1 text-muted">8 clases</div>
                            <p class="card-text mb-auto">Fundamentos básicos y conocimientos de base sobre blockchain.</p>
                            <button class="boton mt-2 py-2 px-2">INSCRIBIRSE</button>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="../img/curso_blockchain.png" class="card-img-top" alt="fundamentos">
                        </div>
                    </article>
                </div>

                <div class="col-md-5">
                    <article class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg_whitesmoke">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Criptomonedas</h3>
                            <div class="mb-1 text-muted">16 clases</div>
                                <p class="mb-auto">Conoce las principales criptomonedas y aprende a evaluar los proyectos.</p>
                                <button class="boton mt-2 py-2 px-2">INSCRIBIRSE</button>
                            </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="../img/curso_cripto.png" class="card-img-top" alt="curso_cripto">
                        </div>
                    </article>
                </div>
            </div>
    
            <div class="row mb-2 justify-content-sm-center w-100">
                <div class="col-md-5">
                    <article class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg_whitesmoke">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Solidity</h3>
                            <div class="mb-1 text-muted">16 clases</div>
                            <p class="card-text mb-auto">Conoce todo y aprende a desarrollar smart-contracts en la blockchain de Ethereum.</p>
                            <button class="boton mt-2 py-2 px-2">INSCRIBIRSE</button>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="../img/curso_solidity.svg" class="card-img-top" alt="curso_solidity">
                        </div>
                    </article>
                </div>
                <div class="col-md-5">
                    <article class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg_whitesmoke">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Web 3.0</h3>
                            <div class="mb-1 text-muted">8 clases</div>
                                <p class="mb-auto">Conoce todo sobre el nuevo paradigma de la web.</p>
                                <button class="boton mt-2 py-2 px-2">INSCRIBIRSE</button>
                            </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="../img/curso_web3-removebg-preview.png" class="card-img-top" alt="web_30">
                        </div>
                    </article>
                </div>
        </div>
    </main>

    <footer class="container-fluid bg-dark py-3">
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between">
    <div>
        <a href="../index.html">
            <img src="../img/Logo_Completo-removebg-preview.png" alt="Logo Learn Blockchain - Aprende. Crea. Crece." height="90">
        </a>
    </div>

    <ul class="d-flex flex-column flex-sm-row align-items-center custom_gap mt-5">
        <li>
            <a href="http://facebook.com" target="_blank">
                <img src="../img/facebook_icon.svg" alt="facebook_icon" height="40" width="40">
            </a>
        </li>
        <li>
            <a href="http://twitter.com" target="blank_">
                <img src="../img/twitter_icon.svg" alt="twitter_icon" height="40" width="40">
            </a>
        </li>
        <li>
            <a href="http://instagram.com" target="blank_">
                <img src="../img/instagram_icon.svg" alt="instagram_icon" height="40" width="40">
            </a>
        </li>
    </ul>

    <div>
        <form>
        <h5 class="py-1" style="color:white">Subscribete a nuestro newsletter</h5>
        <div class="d-flex flex-column flex-lg-row">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" placeholder="Email">
            <button type="button" class="boton py-2 px-4">Suscribirse</button>
        </div>
        </form>
    </div>

</div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>